@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@config '../tailwind.config.ts';

@keyframes dot-pulse {
	0%,
	40%,
	100% {
		opacity: 0.3;
		transform: scale(0.85);
	}
	20% {
		opacity: 1;
		transform: scale(1);
	}
}
